@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');
@import url(common.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}
/* body{overflow: hidden;} */
h1, h2, h3, h4, h5, h6, figure, span{
    margin: 0;
    text-align: center;
    color: #222;
}
p{font-size: 18px; color: #444; text-align: center;}
h2{
    font-size: 88px;
    font-weight: 700;
}
ul, a{
    list-style: none;
    text-decoration: none;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: .5s;
}

/* 헤더 스크롤 이벤트 */
header.active{border-bottom: 1px solid #ddd; background: #fff;}
header.active .navbar{padding: 8px 12px; align-items: center;}
header.active .logo a{
    width: 70px; margin-top: 18px;
    background: url(https://trucknbus.hyundai.com/hydrogen/ko/img/common/logo_1.svg) no-repeat;
}
header.active .menu{display: flex;}
header.active .menu li:nth-child(1) a{color: #35719e;}

header.active .leng li a{color: #222;}
header.active .toggle::before,
header.active .toggle::after{background: #222;}



.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.menu li a{
    font-size: 18px;
    color: #888;
    padding: 8px 40px;
    position: relative;
}
.menu li a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #35719e;
    position: absolute;
    bottom: -28px;
    transition: .5s;
    left: 30px; 
}
.menu li:nth-child(1) a::after{width: 70%;}
.menu li:nth-child(2) a:hover:after{ left: 35px; width: 40px;}

.menu li a:hover{color: #35719e;}
.menu li.active a{color: #35719e;}





.content{
    width: 100%;
    height: 100vh;
}
.content div{
    height: 100%;
    position: relative;
}

video{
    width: 100%; height: 100%;
    object-fit: cover;
    overflow: hidden;
}

/* 비디오 아이콘 */
.video_icon{
    position: absolute;
    bottom: 5%; left: 50%;
    transform: translateX(-50%);
    /* margin-left: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.video_icon li span{color: #fff;}
.video_icon li i{
    padding: 8px 12px;
    font-size: 8px;
    color: #fff;
}
.video_icon .fa-play, .video_icon .fa-volume-up{display: none;}
.video_icon .fa-play.active, .video_icon .fa-volume-up.active{display: inline-block;}


/* 컨텐츠1 */
.content1{}
.content1 .chapter{
    margin-top: 24px;
    padding-left: 50px;
}
.content1 .chapter span{
    color: #888;
    padding: 8px 12px;
}


.content1 .title{margin-top: 150px;}
.content1 .title h2{
    font-size: 72px;
    color: #222;
    transition: .3s;
}
.content1 .title h4{
    font-size: 32px; color: #222;
    margin-top: 35px;
    transition: .5s;
}
.content1 .title p{
    font-size: 22px; color: #444;
    transition: .7s;
}

/* 줌효과 */
.content1 .bts_box{
    width: 80%;
    margin: 80px auto 0;
    transition: 1.1s;
}
.bts_box li{display: none;}
.bts_box li.active{display: list-item;}

.content1 .bts_box figure{
    width: 90%;
    margin: 0 auto; 
    overflow: hidden;
}

.content1 .bts_box figure img{width: 100%;}

/* .content1 .bts_box figure img.active{
    transform: scale(1.05);
    transition: all .7s ease-in-out;
} */

.content1 .bts_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.content1 .bts_button span{
    display: inline-block;
    width: 20px; height: 2px;
    background: #888;
    margin-right: 16px;
}
.content1 .bts_button span.active{
    width: 64px;
    height: 4px;
    background: #222;
}

/* section2 */

.content2{
    margin-top: 240px;
    padding: 160px 0;
    background: #e5faff;
}
.content2 .tit_con1{}
.content2 .tit_con1 h2{
    font-size: 56px;
    color: #222;
    transition: .5s;
}

.content2 .tit_con1 > p:nth-of-type(1){margin-top: 40px;}

.content2 .tit_con1 > p{
    color: #444;
    font-size: 18px;
    line-height: 2;
    transition: .7s;
}


.content2 .tit_con2{ 
    margin-top: 80px;
    overflow: hidden;
    transition: .9s;
}
.content2 .tit_con2 ul{
    width: 85%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 120px 80px;
}
.content2 .tit_con2 ul li{width: 435px; margin-left: 80px;}
.content2 .tit_con2 ul li figure{
    width: 400px;
    position: relative;
}


/* 이미지 애니메이션 */
.content2 .tit_con2 ul li figure img{width: 100%;}

.content2 .tit_con2 ul li figure img:nth-child(2){
    height: 0;
    position: absolute;
    top: 0%; left: 0%;
    transition: all .7s ease-in-out;
    transform: translateY(-100%);
}
.content2 .tit_con2 ul li figure img:nth-child(2).active{transform: translateY(0); height: 100%;}


.content2 .tit_con2 ul li figure figcaption{
    font-size: 56px;
    color: #222;
    font-weight: 700;
    text-align: left;
    position: absolute;
    left: -80px; bottom: 80px;
    z-index: 100;
}


/* 버튼 */
.content2 .tit_con2 .tit_con3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.content2 .tit_con2 .tit_con3 span{
    display: inline-block;
    width: 20px; height: 2px;
    background: #888;
    margin-right: 16px;
}
.content2 .tit_con2 .tit_con3 span.active{
    width: 64px;
    height: 4px;
    background: #222;
}

.content2 .tit_con2 .tit_con4{
    margin-top: 80px;
    font-size: 18px;
    color: #444;
    line-height: 1.8;
}
.content3{}
.content3 .con1{
    margin-top: 240px;
}
.content3 .con1 h2{
    font-size: 56px;
    margin-bottom: 40px;
    transition: .3s;
}
.content3 .con1 p{line-height: 1.8; transition: .5s;}

.content3 .video_con2{
    width: 80%;
    margin: 80px auto 120px;
}
/* 줌효과2 */
.content3 .video_con2 figure{
    position: relative;
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
    transition: .7s;
}
.content3 .video_con2 figure:hover{cursor: pointer;}

.content3 .video_con2 figure img{width: 100%;}
.content3 .video_con2 figure img:hover{
    transform: scale(1.1);
    transition: all .7s ease-in-out;
}
/* bts-비디오 */
.content3 .videobox{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0; top: 0;
    z-index: 200;
    display: none;
}
.content3 .video_con1{
    width: 100%; height: 100%;
    margin: 0 auto;
    background: #000;
    padding: 56.25% 0 0 0;
    position: relative;
}
.content3 .video_con1 .target{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 100%;
    border: 0;
}

/* 유튜브 비디오 */
.video_btn .btn-close{
    width: 80px;
    height: 40px;
    display: block;
    position: absolute;
    top: 80px; right: 30px;
    border: none;
    background: none;
}

.video_btn .btn-close::before, .video_btn .btn-close::after{
    content: '';
    display: block;
    width: 40px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.video_btn .btn-close::before{transform: translate(-50%, -50%) rotate( 495deg ); margin: 0;}
.video_btn .btn-close::after{transform: translate(-50%, -50%) rotate( 405deg ); margin: 0;}

/* bts-비디오아이콘 */
.content3 .video_con2 figure i{
    font-size: 70px;
    font-weight: 400;
    color: #fff;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.content3 > p{
    line-height: 1.8;
    transition: 1.1s;
}
.content3 .con3{
    width: 95%;
    margin: 80px auto;
}

.content3 .con3 figure{width: 100%; transition: 1.3s;}

.content3 .con3 figure img{width: 100%;}

.content3 .con4{margin-top: 160px;}
.content3 .con4 ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content3 .con4 ul li{
    width: 50%;
    border-top: 1px solid #ddd ;
    padding: 60px 50px 50px;
    position: relative;
}
.content3 .con4 ul li:nth-of-type(1){
    border-right: 1px solid #ddd ;
}

.content3 .con4 ul li h4{
    font-size: 22px; color: #35719e;
    text-align: left;
    width: 70%;
    margin-left: auto;
    transition: 1.5s;

}
.content3 .con4 ul li p{
    font-size: 32px; 
    font-weight: 600;
    color: #222;
    line-height: 1.5;
    text-align: left;
    width: 70%;
    margin-left: auto;
    margin-top: 20px;
    transition: 1.7s;
}
.content3 .con4 ul li:nth-of-type(1) p::after{
    content: 'ㄱ';
    clear: both;
    display: block;
    transform: translateY(-50%) rotate(50deg);
    position: absolute;
    right: 5%; top: 50%;
}

.content3 .con4 ul li:nth-of-type(2) h4{margin: 0; color: #888;}

.content3 .con4 ul li:nth-of-type(2) p{
    margin: 0; color: #888;
    margin-top: 20px;

}

/* sns아이콘 */
.sns-icon div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0; right: -5%;
    background: #fff;
    display: none;
    transition: .5s;
}
.sns-icon div.active{
    display: flex; right: 0;
}

.sns-icon div a{
    color: black;
    width: 50px;
    /* height: 50px; */
    padding: 17px 15px;
    text-align: center;
}
.sns-icon div a i{font-size: 16px;}

/* 푸터 */
.footer_inner{padding: 80px 0 100px;}



/* content 스크롤이벤트 */

/* content1 */
.content1 .title h2,
.content1 .title h4,
.content1 .title p,
.content1 .bts_box,
/* content2 */
.content2 .tit_con1 h2,
.content2 .tit_con1 > p,
.content2 .tit_con2,
/* content3 */
.content3 .con1 h2,
.content3 .con1 p,
.content3 .video_con2 figure,
.content3 > p,
.content3 .con3 figure,
.content3 .con4 ul li h4,
.content3 .con4 ul li 
{opacity: 0; transform: translateY(80px);}

.content1.active .title h2,
.content1.active .title h4,
.content1.active .title p,
.content1.active .bts_box,
/* content2 */
.content2.active  .tit_con1 h2,
.content2.active  .tit_con1 > p,
.content2.active  .tit_con2,
/* content3 */
.content3.active .con1 h2,
.content3.active .con1 p,
.content3.active .video_con2 figure,
.content3.active > p,
.content3.active .con3 figure,
.content3.active .con4 ul li h4,
.content3.active .con4 ul li 
{opacity: 1; transform: translateY(0);}

    
